
/*3. Style links in your site-make sure to indicate which one is the current page*/
body{
	margin:1%;
	padding:1%;
	font-size:100%;
}

h1{
	font-size: 40px;
	font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li {
    padding: 12px;
    background-color: lightblue;
	width:25%;
	border:1px dashed slategray;
	display: inline-block;
	width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

nav li a{
    text-decoration: none;
}

.active{
    background-color:lightgreen;
    font-weight:bold;
    border:2px solid black;
    text-decoration:underline;
    text-align: center;
    text-transform: uppercase;
}

/* 4. Add style to your images focusing on the box model*/

img{
    margin: 8px;
    border: 4px dotted skyblue;
    height: 200px;
    width:auto;
    padding: 2px;
    border-radius: 2px;
}

/* 5. Add a hover style to your images*/

img:hover{
    filter:grayscale();
    border: dashed;
}

a:visited{color:#0000FF}

/* header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
} */

main, h1, footer{
	border: 1px solid darkolivegreen;
	margin: 10px 0;
}
p, h1, h2 {
    padding: 10px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
